/* Need to do */
/*fix why navbar does not work when in mobile toggle view */

body {
    font-family: 'Alef', sans-serif;
}

/* navbar height */
nav {
    height: 20px;
    font-size: 24px;
    vertical-align: center;
    background-color: rgb(226, 0, 0) !important;
    color: white !important;
}



/* logo and navbar left style */
.navbar-left {
    display: inline-block;
    list-style: none;
    text-align: left;   
}
 
#title {
    display: block;
    margin: 0 auto;
    padding-top: 2vh;
    font-family: 'Black Ops One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px black;
}

/* navbar right style */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
    color: white;
    list-style: none;
    font-family: 'Black Ops One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    border: 1px solid gray;
    margin: 0 auto;
    height: 49px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: black;
    color: rgb(226, 0, 0);
}

/* pushes the main section away from navbar */
main {
    padding-top: 60px;
}

/* core styles */
h3 {
    font-size: 26px;
    font-weight: 600;
    text-decoration: underline;
    margin: 10px;
    text-align: center;
}

h4 {
    font-weight: bold;
}
    /* gray background on section */
section:nth-child(odd) {
    background-color: rgba(212, 211, 211, 0.2);
}

/* /core styles */

/* header style */
header {
    font-size: 36px;
    text-align: center;
    display: block;
}

.header-image {
    width: 100%;
    height: 25vw;
}

/* service section */

section {
    padding: 0 0 5vw 0;
}

/* icons and services description */
.leftside {
    display: inline-block;
    width: 25%;
    padding-top: 80px;
    font-size: 36px;
    text-align: right;
    position: relative;
    top: -30px;
    left: -10px;
}

.rightside {
    display: inline-block;
    width: 55%
}

/* Coupons Section */
#coupons {
    padding: 0;
}

.coupons-header {
    width: 75%;
    margin: 0 auto;
}

.coupon-image {
    width: 22vw;
    height: auto;
    border: 5px dashed black;
    margin: 0 auto;
}

.card1 {
    display: inline-block;
    width: 30%;
    position: relative;
    top: 5vw;
    right: -12vw;
}

.card2 {
    display: inline-block;
    width: 30%;
    position: relative;
    top:-10vw;
    right: -45vw;
    padding: 0 20px;
}

.card1, .card2 {
    border: 2px solid black;
    box-shadow: 10px 10px 2px black;
    background-color: red;
    color: white;
    height: 350px;
    margin: 1px;
    padding-top: 20px;
}

/* Review Section */
#reviews {
    width: 60%;
}

.review1, .review2, .review3 {
    width: 25vw;
}

.review1 {
    padding-top: 20px;
}

.review2 {
    position: relative;
    top: -2vw;
    right: -35vw;
}

.review3 {
    position: relative;
    right: -18vw;
}

.EachReview > h4 {
    color: red;
    margin: 0;
    font-style: italic;
    position: relative;
    left: -20px;
}


/* footer section */
footer {
    background-color: rgb(226, 0, 0);
    height: 60px;
}

footer > ul {
    list-style: none;
    text-align: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    position: relative;
    bottom: -15px;
}

footer > ul > li {
    display: inline-block;
    padding-left: 50px;
    vertical-align: center;
}

/* footer links color */
footer > ul > li > a {
     color: white !important;
}

footer > p {
    text-align: center;
    color: white;
}

/* Media query for smaller screen */
@media (max-width: 700px) {
    nav {
        font-size: 18px;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
        margin: 0 65%;
    }

    .nav > li > a {
        width: 20vw;
        background-color: black;
    }
    /* services mobile view */
    .leftside, .rightside {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        position: relative;
        top: 0;
    }

    
    /* coupons mobil view */
    #coupons {
        margin: 0 auto;
    }

    .coupon-image {
        width: 260px;
    }

    .card1, .card2 {
        display: block;
        width: 300px;
        height: auto;
        text-align: center;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 20px auto;
    }
    
    /* reviews mobile view */
    #reviews {
        margin: 25px auto;
    }

    .review1, .review2, .review3 {
        width: 100%;
        margin: 35px auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /*footer mobile view */
    footer > ul {
        font-size: 16px;
        margin: 5px auto;
        padding: 5px;
        bottom: -5px;
    }
}